<html>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
　　<![endif]-->
   <head>
      <title>{{ title }}</title>
   </head>
   <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/static/style.css">
   	<script type="text/javascript">
			function toLogout(){
				window.location.href='/logout'; 
			}
			function toPraise(obj){
				var ada = {};
				words = obj.attr("id").split("-");
				ada['canteen']=words[0];
				ada['dish']=words[1];
				$.post("/praise",ada,function(data,status){
				});
				obj.attr("onclick","toDelete($(this));");
				obj.html("取消");
				$('#my-dish').append("<li id='"+words[0]+'-'+words[1]+"'><a href='/dish/"+words[1]+"'>"+words[1]+"</a>——<a href='canteen/"+words[0]+"'>"+words[0]+"</li>")
			}
			function toDelete(obj){
				var ada = {};
				words = obj.attr("id").split("-");
				ada['canteen']=words[0];
				ada['dish']=words[1];
				$.post("/delete-praise",ada,function(data,status){
				});
				obj.attr("onclick","toPraise($(this));");
				obj.html("赞");
				$("#my-dish #"+words[0]+'-'+words[1]).remove()
			}
	</script>
   <body>
   <script src="/static/Base.js"></script>
    <div class="row">
   <div class="col-xs-12 col-md-12"> 
   	<div class="panel panel-success">  
   	<div class="panel-heading">
   	<div class="input-group">
   <a href="/login">{{user_name}}</a>
   <input type="button" onclick="toLogout();" value="logout"  class="btn btn-primary">
   </div>
   	</div>
   	 <div class="panel-body">
    <div class="col-xs-12 col-md-12"> 
    <div class="row">
   <div class="input-group">
   <input type="text" id="search_item" class="form-control">
   <div class="input-group-btn">
   <input type="button" value="friend" id="findFriend" onclick="toFindFriend();" class="btn btn-primary">
   	<input type="button" value="dish" id="findDish" onclick="toFindDish();" class="btn btn-primary"></div>
   	
   </div>
   </div>
   </div>
   </div>
   </div>
   </div>
   </div>
 
   <div id="dish-list" class="list-group">
   	{% for canteen in Dish_list %}
   	{% for dish in canteen['dishes'] %}
   	<a href="/dish/{{canteen['name']}}/{{dish['name']}}" class="list-group-item" >{{dish['name']}}</a>
   	{% end %}
   	{% end %}
   </div>
   </body>
 </html>